<!DOCTYPE html>
<html>
<head>
	<title>API</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
</head>
<body>

<center><h2 class="text-info">Information Form</h2></center>

<div class="container">
		<form>
		  <div class="form-group">
		    <label for="">Your Name</label>
		    <input type="text" class="form-control" id="name" placeholder="Your name">		    
		  </div>

		  <div class="form-group">
		    <label for="">Your Name</label>
		    <input type="text" class="form-control" id="fname" placeholder="Your Father Name">		    
		  </div>

		  <div class="form-group">
		    <label for="">Your Name</label>
		    <input type="text" class="form-control" id="mname" placeholder="Your Mother Name">		    
		  </div>

		  <button type="submit" id="submit" class="btn btn-primary">Save</button>
		  <button type="reset" class="btn btn-danger">Reset</button>
	</form>
</div>
<br/>
 

<table id="show" class="table table-dark"></table>



<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script type="text/javascript">

			$(document).ready(function(){ 			
				$.ajax({
				url: '/learners',
				method:'GET',
				datatype : 'json',
				success: (data) =>{								 
					$.each(data, function(k, v){
						$('#show').append('<tr><td>'+v.id+'</td><td>'+v.name +'</td><td>'+ v.fname+'</td><td>'+v.mname+'</td></tr>');
												})
									}
						});
			});



</script>

<script type="text/javascript">

	$('#submit').click(function(e){  
		e.preventDefault();	
		let name = $('#name').val();
		let fname = $('#fname').val();
		let mname = $('#mname').val();		 

    $.ajax({ 
           url: '/output2',
           type: 'POST',
           cache: false, 
           data: {name,fname,mname}, 
           success: function(data){
              alert('Success!')
              $('#show').append('<tr><td>'+data.id+'</td><td>'+data.name +'</td><td>'+ data.fname+'</td><td>'+data.mname+'</td></tr>');
           }
           , error: function(jqXHR, textStatus, err){
               alert('text status '+textStatus+', err '+err)
           }
        })
     });  
</script>
</body>
</html>